.option-choice__button {
    font-size: 1rem;
    font-weight: bold;
    color: #D4AF37;
    background-color: red;
    border: 1px solid #D4AF37;
    padding: 0.5rem;
    border-radius: 12px;
}

.option-choice__button {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
}